<!--
Remove the class container or max-w-7xl to have a wider wrapper, otherwise use as is without changhing the classes so all fits is lined up from head to top.
 -->

<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-24">
  <div class="mx-auto">
    <!-----
      Contetn goes here or underneath the next div
      ---->
    <div>
      <div class="min-h-screen pt-6 pb-16 sm:pb-24">
        <main class="px-6 mt-16 max-w-7xl sm:mt-16 lg:px-16">
          <div class="text-center">
            <h1
              data-animate="title"
              class="max-w-5xl text-5xl font-bold leading-none tracking-tighter  text-brand-7 lg:text-6xl lg:max-w-7xl"
            >
              Tailwind Landing pages

              <div class="lg:mb-12">
                for your next
                <span class="lg:hidden">project</span>
                <span
                  class="hidden text-brand-6 lg:inline"
                  data-animate="type"
                  data-type-sentences="['saas.', 'startup.', 'app.',' newsletter.', 'extension.', ' project.']"
                ></span>
              </div>
            </h1>
            <p
              data-animate="subtitle"
              class="max-w-md mx-auto mt-6 text-base  text-brand-7 sm:text-lg md:mt-5 md:text-2xl md:max-w-xl"
            >
              Don't lose precious days designing and building a landing page.
              Grab our landing page Bundle and you're good to go.
            </p>
            <div class="max-w-md mx-auto mt-12 lg:mt-5 sm:flex md:mt-12">
              <div class="mt-3 rounded-lg sm:mt-0">
                <a
                  href="./pricing.html"
                  class="items-center block px-10 py-4 text-lg font-medium text-center text-white transition duration-500 ease-in-out transform border border-transparent rounded-lg  shadow-static bg-brand-6 hover:shadow-lgHover lg:px-12 hover:bg-brand-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-7"
                >
                  Pricing
                </a>
              </div>
              <div class="mt-3 rounded-lg sm:mt-0 sm:ml-3">
                <a
                  href="https://wicked-templates.gumroad.com/l/wicked-demos"
                  class="items-center block px-10 py-4 text-lg font-medium text-center transition duration-500 ease-in-out transform bg-white border-2 rounded-lg  text-brand-7 shadow-static lg:px-12 text-blue hover:border-brand-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500 hover:shadow-hover"
                >
                  Try Demo &nbsp; &DownArrow;
                </a>
              </div>
              <div></div>
            </div>
            <p
              class="w-full max-w-xs mx-auto mt-2 mb-8 text-sm text-right  text-brand-6"
            >
              No credit card required .
            </p>
          </div>
        </main>
        <main class="hidden mx-auto mt-16 sm:mt-24">
          <div class="text-center">
            <h1
              data-animate="title"
              class="text-4xl font-extrabold tracking-tight text-gray-900  sm:text-5xl md:text-5xl"
            >
              <span class="block xl:inline">Wickedtemplates</span>
              <span class="block text-brand-6 xl:inline">HTML Starter</span>
            </h1>
            <p
              class="max-w-md mx-auto mt-3 text-base text-gray-500  sm:text-lg md:mt-5 md:text-xl md:max-w-xl"
            >
              Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
              lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
              fugiat aliqua.
            </p>
            <div
              class="max-w-md mx-auto mt-5 sm:flex sm:justify-center md:mt-8"
            >
              <div class="mt-3 rounded-lg sm:mt-0">
                <a
                  href="./pricing.html"
                  class="items-center block px-10 py-4 text-lg font-medium text-center text-white transition duration-500 ease-in-out transform border border-transparent rounded-lg  shadow-static bg-brand-6 hover:shadow-lgHover lg:px-12 hover:bg-brand-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-7"
                >
                  Pricing
                </a>
              </div>
              <div class="mt-3 rounded-lg sm:mt-0 sm:ml-3">
                <a
                  href="https://wicked-templates.gumroad.com/l/wicked-demos"
                  class="items-center block px-10 py-4 text-lg font-medium text-center transition duration-500 ease-in-out transform bg-white border-2 rounded-lg  text-brand-7 shadow-static lg:px-12 text-blue hover:border-brand-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500 hover:shadow-hover"
                >
                  Try Demo &nbsp; &DownArrow;
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
