<!-- This example requires Tailwind CSS v2.0+ -->
<div class="border-t-2 bg-lilac border-oyster">
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <a href="./index.html">
          <div class="px-4 pt-8 pb-16 bg-ghost hover:bg-metal sm:px-6 lg:px-8">
            <span class="text-sm font-normal text-comet hover:text-oyster">
              Previous
            </span>
            <p class="text-xs font-light lg:text-base text-comet sm:text-xl">
              Home
            </p>
          </div>
        </a>
      </div>

      <div>
        <a href="./components.html">
          <div
            class="px-4 pt-8 pb-16  md:mt-0 bg-ghost hover:bg-metal sm:px-6 lg:px-8"
          >
            <span class="text-sm font-normal text-comet hover:text-oyster">
              Next
            </span>
            <p class="text-xs font-light lg:text-base text-comet sm:text-xl">
              Customization:Components
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{{>"global/footer"}}
