<div
  class="z-50 hidden  md:flex md:w-72 md:flex-col md:fixed md:inset-y-0 bg-ghost dark:bg-cinder"
>
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div
    class="flex flex-col flex-1 min-h-0 border-r border-smoke dark:border-pearl"
  >
    <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto lg:pl-6">
      <div
        class="flex items-center flex-shrink-0 px-4 text-comet dark:text-white"
      >
        <a href="./index.html">{{>"assets/logo"}}</a>
      </div>
      <nav class="flex-1 mt-12">
        <div class="-px-px dark:border-tuna">
          <div>
            <a
              href="./index.html"
              class="flex items-center p-2 pl-6 text-base font-light  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
            >
              Quickstart
            </a>
            <div x-data="{ open: false }">
              <button
                class="inline-flex items-center w-full pr-4"
                @click="open = ! open"
              >
                <span
                  class="inline-flex items-center p-2 pl-6 text-base font-light  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                >
                  Customization
                </span>
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  :class="{'rotate-180': open, 'rotate-0': !open}"
                  class="inline w-5 h-5 ml-auto transition-transform duration-200 transform  text-oyster dark:text-periblue dark:hover:text-smoke"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>

              <div
                class="p-2 pl-6 -px-px"
                x-show="open"
                @click.outside="open = false"
              >
                <ul>
                  <li>
                    <a
                      href="./logo.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Adding a logo
                    </a>
                  </li>
                  <li>
                    <a
                      href="./fonts.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Changing fonts
                    </a>
                  </li>
                  <li>
                    <a
                      href="./colors.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Changing Colors
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div x-data="{ open: false }">
              <button
                class="inline-flex items-center w-full pr-4"
                @click="open = ! open"
              >
                <span
                  class="inline-flex items-center p-2 pl-6 text-base font-light  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                >
                  Refference
                </span>
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  :class="{'rotate-180': open, 'rotate-0': !open}"
                  class="inline w-5 h-5 ml-auto transition-transform duration-200 transform  text-oyster dark:text-periblue dark:hover:text-smoke"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>

              <div
                class="p-2 pl-6 -px-px"
                x-show="open"
                @click.outside="open = false"
              >
                <ul>
                  <li>
                    <a
                      href="./logo.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Adding a logo
                    </a>
                  </li>
                  <li>
                    <a
                      href="./fonts.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Changing fonts
                    </a>
                  </li>
                  <li>
                    <a
                      href="./colors.html"
                      class="flex items-center p-2 pl-3 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
                    >
                      Changing Colors
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <a
              href="./recomendations.html"
              class="flex items-center p-2 pl-6 text-base font-light  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
            >
              Recommendations
            </a>
          </div>
          <div class="pl-6 mt-12">
            <p
              class="text-sm font-semibold uppercase text-comet dark:text-smoke"
            >
              Development
            </p>
          </div>
          <div class="mt-3">
            <a
              href="#"
              class="flex items-center p-2 pl-6 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group x"
            >
              Components
            </a>

            <a
              href="#"
              class="flex items-center p-2 pl-6 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
            >
              Style Guide
            </a>
            <a
              href="#"
              class="flex items-center p-2 pl-6 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
            >
              License
            </a>
            <a
              href="#"
              class="flex items-center p-2 pl-6 text-base font-light border-l border-transparent  text-oyster dark:text-periblue dark:hover:text-smoke hover:text-river group"
            >
              Authors
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div
      class="flex flex-shrink-0 p-4 border-t  lg:p-12 border-smoke dark:border-tuna"
    >
      <!------ CTA buttons goes here-->
    </div>
  </div>
</div>
